- include_stylesheet 'extensions/page_attachments/page_attachments'
- include_javascript 'extensions/page_attachments/page_attachments'
#attachments
  .outset
    #grid
      - unless @attachments.blank?
        - @attachments.each do |attachment|
          %div
            %h2
              = attachment.short_title.blank? ? attachment.short_filename(20) : attachment.short_title(20)
              %span
                = link_to t('page_attachments.grid.edit'), edit_admin_page_attachment_path(attachment)
            %span
              %a{ :href => attachment.public_filename }
                - if attachment.public_filename =~ /pdf$/
                  %img{ :src =>'/images/extensions/page_attachments/pdf_icon.png', :alt => attachment.description }
                -else
                  %img{ :src => attachment.public_filename("grid"), :alt => attachment.description }
            %div
              %p
                = t('page_attachments.grid.copy_paste')
              = sample_attachment_code(attachment)
    = pagination_for @attachments

  #switch_layout
    %p
      = link_to(t('page_attachments.index.generate'), admin_page_attachments_generate_path)
      = link_to(t('page_attachments.grid.list_view'), admin_page_attachments_path)
